<html>
	<!-- First static page-->
	<head>
	
		<title>ProStack Home</title>
		
	</head>
	
	<body>
		<header>
		
		<!-- <img src="./logo.png"> -->
		<nav>
		<a href="./index.html">Home</a>|
		<a href="./services.html">Services</a>|
		<a href="./employee.html">Employee</a>|
		<a href="./about.html">About Us</a>|
		<a href="./contact.html">Contact Us</a>
		</nav>
		</header>
		
		<hr>
		
		<table border="1">
			<caption> Employees Data</caption>
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Profile</th>
			</thead>
				
			<tbody>
				<tr>
					<td>101</td>
					<td>Rahul</td>
					<td>CEO</td>
				</tr>
				<tr>
					<td>102</td>
					<td>Sonia</td>
					<td>Managing Director</td>
				</tr>
				<tr>
					<td>103</td>
					<td>Rahul</td>
					<td>Project Manager
					tu </td>
				</tr>
			</tbody>
		
		</table>
	
	</body>




</html>